.bg-left-setting{
    background-color: #ff9b00;
}

.profile-button-color button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 41%;
}

.profile-button-color button:hover{
    background: #010102;
    color: rgb(214, 214, 214);
    font-weight: 600;
    width: 41%;
}






.wrapper-settings-page {
    /* background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 3px 3px 20px #cbced1, -13px -13px 20px #fff; */
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 3px 20px #dedcdc, -13px -13px 20px #fff;
}

.wrapper-form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper-form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

/* .invalid-input{
    color: red;
    margin-top: -20px;
    margin-left: 20px;
    display: block;
} */

.invalid-input-setting{
    color: red;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
    font-size: small;
    display: block;
    
}

/* .invalid-input{
    color: red;
    margin-top: -20px;
    margin-right: 150px;
    text-align: right;
    font-size: small;
    
    display: block; 
} */